* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Roboto";
}

body {
    overflow-x: hidden;
    max-width: 1920px;
    background-repeat: round;
}

.Acceuil {
    display: flex;
}

.Acceuil .image {
    position: relative;
    top: 0;
    left: 0;
    bottom: 100vh;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}

.haut_gauche {
    top: 0;
    left: 0;
    right: 50%;
    position: absolute;
    float: left;
}

.haut_gauche .logo {
    margin-top: 1em;
    padding-right: 3em;
    float: left;
}

.haut_gauche .head_text {
    font-size: 1em;
    float: left;
    color: white;
    text-decoration: underline #0c6ffd;
}

.image .encar {
    margin-left: 1em;
    margin-right: 1em;
    top: 48vh;
    left: 0;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.encar .title {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-style: italic;
    font-size: 1.5em;
}

.encar .title span {
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
}

.encar .text {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
}

.bas_droite {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bas_droite .links {
    margin-bottom: 1em;
    margin-right: 1em;
}

.bas_droite a {
    color: white;
    text-decoration: none;
}

.bas_droite a:hover {
    color: #0c6ffd;
}

a:hover {}

.grille {
    display: grid;
    position: relative;
    top: 0;
    left: 0;
    bottom: 100vh;
    width: 100%;
    grid-template-columns: 50% auto;

}

.grille_ {
    border: 1px solid #eaeaea;
    text-align: center;
    height: 100%;
}

.grille .grille_title_1 {
    background-color: #99dc60;
    text-align: left;
    color: white;
    font-weight: bolder;
    padding: 0.7em;
    max-width: 14%;
    max-height: 8%;
    margin-top: 2em;
    margin-left: 0.5em;
}

.grille .grille_title_2 {
    background-color: #DC5E53;
    text-align: left;
    color: white;
    font-weight: bolder;
    padding: 0.7em;
    max-width: 14%;
    max-height: 8%;
    margin-top: 2em;
    margin-left: 0.5em;
}

.grille .grille_title_3 {
    background-color: #DC5E53;
    text-align: left;
    color: white;
    font-weight: bolder;
    padding: 0.7em;
    max-width: 14%;
    max-height: 8%;
    margin-top: 2em;
    margin-left: 0.5em;
}

.grille .grille_title_4 {
    background-color: #0766F0;
    text-align: left;
    color: white;
    font-weight: bolder;
    padding: 0.7em;
    max-width: 14%;
    max-height: 8%;
    margin-top: 2em;
    margin-left: 0.5em;
}


.article {
    text-align: left;
    margin-left: 0.5em;
}

.article_titre {
    margin-top: 1.5em;
    font-weight: bolder;
}

.article_auteur {
    margin-top: 2em;
    display: flex;
    color: #8f9096;
    content: initial;
    font-weight: lighter;
}

.article_auteur span {
    color: black;
    font-style: bolder;
    margin-left: 0.5em;
}

.article_link a {
    color: #2e5ece;
}